* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    font-family: Arial, sans-serif;
}

.parent {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
    height: 89%;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#output {
    width: 100%;
    height: 15%;
    background-color: #333;
    color: #eee;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 2rem;
    padding: 5px;
    outline: none;
    border: none;
    text-align: left;
}

.buttons {
    width: 100%;
    height: 82%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

button {
    background-color: #444;        
    color: #eee;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

button:active {
    background-color: red;
    color: white;
    transform: scale(0.95);
}


@media (max-width: 600px) {
    .parent {
        width: 90%;
        height: 90%;
    }

    #output {
        font-size: 1.5rem;
        height: 20%;
    }

    button {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .buttons {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #output {
        font-size: 1.2rem;
    }

    button {
        font-size: 0.9rem;
    }
}


