*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent{
    width: 30%;
    height: 89%;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

#output{
    width: 100%;
    height: 15%;
    background-color: #333;
    color: #ddd;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    outline: none;
    border: none;
}

.buttons{
    width: 100%;
    height: 82%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

button{
    background-color: #444;        
    color: #ddd;
    border: none;
    font-size: 18px;
    border-radius: 5px;

    
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);

    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    background-color: #555;
    transform: scale(1.05);
}


button:active{
    background-color: red !important;   
    color: white !important;            
    transform: scale(0.95);
}
